/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Nerko One";
    font-size: 30px;
}

/*HEADER*/

.conteiner{
    background-color: lightblue;
    width: 1024px;
    margin: auto;
    text-align: center;
   }

#title{
    color: white;
    
    }

/*FINE HEADER*/

/* MAIN*/

.sfondo{
    background-color: lightblue;
    width: 1024px;
    height: 500px;
    margin: auto;
}

.riga{
    
    width: 65%;
    margin: auto;
    text-align: center;

}

.card{
    width: 20%;
    height: 150px;
    background-color: white;
    background-image:url('../img/pattern.png');
    display: inline-block;
    border-style: groove;
    border-radius: 10px;
    border: 1px solid gray;
    margin: 5px;    
    background-size: contain;
  
}

.card img {
    width:100%;
    display: none;
}

.card:hover {
    background-image:none;
}

.card:hover img {
    display: block;
}

img{
     width: 100%;
     display: block;
}

